@model ProySistemaColegio.Models.Procedimientos_almacenados.sp_listar_productosModel

@{
    ViewData["Title"] = "AgregarCarrito";
}

<h1>AgregarCarrito</h1>

<div>
    <h4>sp_listar_productosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pro_cod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pro_cod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pro_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pro_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pro_stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pro_stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pro_precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pro_precio)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm())
    {
          <div>
            @Html.Hidden("id", Model.pro_cod)
            Ingrese cantidad: @Html.TextBox("Cantidad",1)
            <button type="submit" class="btn btn-primary">Agregar</button> |
            @Html.ActionLink("Seguir Comprando", "ListarProductosTienda") |
            <a asp-action="VerCarrito">Ver Carrito</a>
          </div>
    }
</div>
<br/>
<div class="alert alert-success">
    @ViewBag.MENSAJE
</div>

